:root {
  --font-family-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* global */

html {
  font-size: 16px;
}
body {
  font-family: var(--font-family-sans);
  font-size: 18px;
  line-height: 26px;
  color: #222;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #0078a1;
  border-bottom: 2px solid #ddd;
}
a:visited {
  color: #5746af;
}
a:focus-visible {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0 3px #79cfea;
}
a:hover {
  color: #147d6f;
  border-bottom-color: #ccc;
}
a:active {
  color: #046d5f;
  border-bottom-color: #ccc;
}

/* layout */

.main {
  padding-top: 24px;
  padding-bottom: 48px;
}

.frame {
  width: 90%;
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
}

.frame-extended {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

.main-text {
  width: 100%;
  max-width: 800px;
}

@media (min-width: 768px) {
  .main {
    padding-top: 36px;
    padding-bottom: 64px;
  }
}
@media (min-width: 1024px) {
  .main {
    padding-top: 48px;
    padding-bottom: 72px;
  }
}

/* reusable classes */

.mt-1 { margin-top: 4px; }
.mt-2 { margin-top: 8px; }
.mt-3 { margin-top: 12px; }
.mt-4 { margin-top: 16px; }
.mt-5 { margin-top: 20px; }
.mt-6 { margin-top: 24px; }
.mt-7 { margin-top: 32px; }
.mt-8 { margin-top: 40px; }
.mt-9 { margin-top: 48px; }

@media (min-width: 600px) {
  .md-mt-1 { margin-top: 4px; }
  .md-mt-2 { margin-top: 8px; }
  .md-mt-3 { margin-top: 12px; }
  .md-mt-4 { margin-top: 16px; }
  .md-mt-5 { margin-top: 20px; }
  .md-mt-6 { margin-top: 24px; }
  .md-mt-7 { margin-top: 32px; }
  .md-mt-8 { margin-top: 40px; }
  .md-mt-9 { margin-top: 48px; }
}

.text-gray { color: #777; }

.button {
  display: inline-block;
  padding: 12px 16px;
  font-family: var(--font-family-sans);
  font-size: 17px;
  font-weight: 700;
  line-height: 21px;
  text-decoration: none;
  color: #fff;
  border: 0;
  border-radius: 5px;
  background-color: #3d9a50;
}
.button:visited {
  color: #fff;
}
.button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 1px #fff, 0 0 0 4px #b7dfba;
}
.button:hover {
  background-color: #297c3b;
}
.button:active {
  background-color: #206f30;
}

/* basic typesetting */

h1 {
  font-size: 30px;
  font-weight: 800;
  line-height: 38px;
  letter-spacing: -0.0313em;
}
h2 {
  font-size: 21px;
  font-weight: 300;
  line-height: 26px;
}
h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
}

p, li {
  font-size: 16px;
  line-height: 24px;
}

p, ol, ul { margin-top: 16px; }
ol, ul { margin-left: 18px; }
li { margin-top: 8px; }
ol { list-style: decimal; }

strong { font-weight: 700; }
em { font-style: italic; }

@media (min-width: 600px) {
  h1 {
    font-size: 38px;
    line-height: 46px;
    letter-spacing: -0.0313em;
  }
  h2 {
    font-size: 24px;
    line-height: 28px;
  }
  h3 {
    font-size: 21px;
    line-height: 28px;
  }
  ol, ul { margin-left: 20px; }
  p, li {
    font-size: 18px;
    line-height: 26px;
  }
}
@media (min-width: 1024px) {
  ol, ul { margin-left: 0; }
}

/* image row */

.image-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
img {
  display: block;
}
.img-model {
  width: 100%;
}
.img-stack {
  width: 100%;
}

@media (min-width: 768px) {
  .img-model {
    width: 67%;
  }
  .img-stack {
    width: 75%;
  }
}

@media (min-width: 1024px) {
  .image-row {
    flex-direction: row;
  }
  .img-model {
    width: 40%;
  }
  .img-stack {
    width: 60%;
  }
}
